{% extends 'base.html' %}
{% load static %}


{% block title %}
    تماس با ما
{% endblock title %}
    


{% block content %}
{% comment %} بخش بالایی صفحه تماس با ما، شامل متن مقدمه {% endcomment %}
<section>
    <div class="container my-5">
        <div class="row">
            {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                    <li  {% if message.tags %} class=" {{ message.tags }} text-success" {% endif %} style=" list-style-type: none;">
                        <i class="bi bi-check2-circle me-2"  style="font-size: 1.5rem;"></i>
                        {{ message }}
                    </li>
                    {% endfor %}
                </ul>
            {% endif %}
            <h1 class="h4 fw-bold mb-3">با ما در ارتباط باشید</h1>
            <p class="text-justified nm-text-color">
                {% for text in contact_page_data %}
                    {% if "ابتدایی" in text.key %}
                        {{ text.value }}
                    {% else %}
                    {% endif %}
                {% endfor %}
            </p>
        </div>
    </div>
</section>


{% comment %} بخش دوم، شامل کارت‌های اطلاعات تماس {% endcomment %}
<section>
    <div class="container">
        <div class="row g-4 equal-cols">
            <div class="col-md-6">
                <div class="card mb-5">
                    <div class="card-body">
                        <h2 class="h5 card-title text-center">دفتر مرکزی کارخانه</h2>  
                        <hr class="card-text">                      
                        {% for text in contact_page_data  %}
                            {% if text.key == "آدرس دفتر کارخانه صفحه تماس با ما" %}
                                <p class="card-text"><i class="bi bi-geo-alt me-2"></i>
                                    {{ text.value }}
                                </p>
                            {% elif text.key == "شماره تماس اول دفتر کارخانه صفحه تماس با ما" %}
                                <p class="card-text"><i class="bi bi-telephone me-2"></i>
                                    {{ text.value }}
                                </p>
                            {% elif text.key == "شماره تماس دوم دفتر کارخانه صفحه تماس با ما" %}
                                <p class="card-text"><i class="bi bi-telephone me-2"></i>
                                    {{ text.value }}
                                </p>
                            {% elif text.key == "شماره فکس دفتر کارخانه صفحه تماس با ما" %}
                                <p class="card-text"><i class="bi bi-newspaper me-2"></i>
                                    {{ text.value }}
                                </p>
                            {% elif text.key == "ایمیل دفتر کارخانه صفحه تماس با ما" %}
                                <p class="card-text"><i class="bi bi-envelope me-2"></i>
                                    {{ text.value }}
                                </p>
                            {% endif %}
                        {% endfor %}
                        
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card mb-5">
                    <div class="card-body">
                        <h2 class="h5 card-title text-center">دفتر مرکزی فروش</h2>                        
                        <hr class="card-text">
                        {% for text in contact_page_data  %}
                            {% if text.key == "آدرس دفتر فروش صفحه تماس با ما" %}
                                <p class="card-text"><i class="bi bi-geo-alt me-2"></i>
                                    {{ text.value }}
                                </p>
                            {% elif text.key == "شماره تماس اول دفتر فروش صفحه تماس با ما" %}
                                <p class="card-text"><i class="bi bi-telephone me-2"></i>
                                    {{ text.value }}
                                </p>
                            
                            {% elif text.key == "شماره تماس دوم دفتر فروش صفحه تماس با ما" %}
                                <p class="card-text"><i class="bi bi-telephone me-2"></i>
                                    {{ text.value }}
                                </p>
                            {% elif text.key == "شماره فکس دفتر فروش صفحه تماس با ما" %}
                                <p class="card-text"><i class="bi bi-newspaper me-2"></i>
                                    {{ text.value }}
                                </p>
                            {% elif text.key == "ایمیل دفتر فروش صفحه تماس با ما" %}
                                <p class="card-text"><i class="bi bi-envelope me-2"></i>
                                    {{ text.value }}
                                </p>
                            {% endif %}
                        {% endfor %}
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


{% comment %} بخش سوم برای فرم تماس با ما {% endcomment %}
<section>
    <div class="container my-4">
        <div class="row align-items-center">
            {% comment %} //TODO تنظیم استایل فرم تماس با ما، قرار دادن متن و تصویری در سمت راست فرم {% endcomment %}
            <div class="col-10 col-lg-12 offset-1 offset-lg-0">
                <h3 class="h4 fw-bold mb-3">ارتباط با کارشناسان نوید موتور</h3>
                <p class="text-justified nm-text-color">
                    {% for text in contact_page_data %}
                        {% if "متن کنار" in text.key %}
                            {{ text.value }}
                        {% else %}
                        {% endif %}
                    {% endfor %}
                </p>
            </div>
            <div class="col-10 col-lg-8 offset-1 offset-lg-2">
                <form action="" method="post">
                    {% csrf_token %}
                    
                    {% for item in form %}
                        <p>{{ item.label_tag }} {{ item }}</p>
                        <p></p>
                    {% endfor %}
                        
                    <div class="row text-center">
                        <div class="col">
                            <input class="btn btn-primary my-3" type="submit" value="ارسال پیام">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

{% endblock content %}

    