{% extends 'base.html' %}
{% load static i18n %}
{% get_current_language as lang %}


{% block title %}
    {% if lang == "fa" %} تماس با ما {% elif lang == "ar" %} اتصل بنا {% elif lang == "en" %} Contact Us {% endif %}
{% endblock title %}
    


{% block content %}
{% comment %} بخش بالایی صفحه تماس با ما، شامل متن مقدمه {% endcomment %}
<section>
    <div class="container my-5">
        <div class="row">
            {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                    <li  {% if message.tags %} class=" {{ message.tags }} text-success" {% endif %} style=" list-style-type: none;">
                        <i class="bi bi-check2-circle me-2"  style="font-size: 1.5rem;"></i>
                        {% translate "پیام شما با موفقیت ارسال گردید. کارشناسان ما در صورت نیاز با شما تماس خواهند گرفت." %}
                    </li>
                    {% endfor %}
                </ul>
            {% endif %}
            <h1 class="h4 fw-bold mb-3">
                {% if lang == "fa" %}با ما در ارتباط باشید
                {% elif lang == "ar" %} تواصل معنا
                {% elif lang == "en" %} Get in touch with us
                {% endif %}
            </h1>

            <p class="text-justified nm-text-color">
            {% for text in contact_page_data %}
                {% if "ابتدایی" in text.key %}
                    {% if lang == text.language %}
                        {{ text.value }}
                    {% endif %}
                    {% else %}
                {% endif %}
            {% endfor %}

            </p>
        </div>
    </div>
</section>


{% comment %} بخش دوم، شامل کارت‌های اطلاعات تماس {% endcomment %}
<section>
    <div class="container">
        <div class="row g-4 equal-cols">
            <div class="col-md-6">
                <div class="card mb-5">
                    <div class="card-body">
                        <h2 class="h5 card-title text-center">
                            {% if lang == "fa" %}دفتر مرکزی کارخانه
                            {% elif lang == "en" %} Factory central office
                            {% elif lang == "ar" %} المکتب الرئيسي للمصنع
                            {% endif %}
                        </h2>
                        <hr class="card-text">                      
                        {% for text in contact_page_data  %}
                            {% if "آدرس دفتر کارخانه" in text.key %}
                                {% if lang == text.language %}
                                    <p class="card-text"><i class="bi bi-geo-alt me-2"></i>
                                    {{ text.value }}
                                    </p>
                                {% endif %}
                            {% elif "شماره تماس اول دفتر کارخانه" in text.key %}
                                <p class="card-text"><i class="bi bi-telephone me-2"></i>
                                    {{ text.value }}
                                </p>
                            {% elif "شماره تماس دوم دفتر کارخانه صفحه تماس با ما" in text.key %}
                                <p class="card-text"><i class="bi bi-telephone me-2"></i>
                                    {{ text.value }}
                                </p>
                            {% elif "شماره فکس دفتر کارخانه" in text.key %}
                                <p class="card-text"><i class="bi bi-newspaper me-2"></i>
                                    {{ text.value }}
                                </p>
                            {% elif "ایمیل دفتر کارخانه" in text.key %}
                                <p class="card-text"><i class="bi bi-envelope me-2"></i>
                                    {{ text.value }}
                                </p>
                            {% endif %}
                        {% endfor %}
                        
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card mb-5">
                    <div class="card-body">
                        <h2 class="h5 card-title text-center">
                            {% if lang == "fa" %}دفتر مرکزی فروش
                            {% elif lang == "en" %} Sales central office
                            {% elif lang == "ar" %}المكتب الرئيسي للمبيعات
                            {% endif %}
                        </h2>
                        <hr class="card-text">
                        {% for text in contact_page_data  %}
                            {% if "آدرس دفتر فروش" in text.key %}
                                {% if lang == text.language %}
                                    <p class="card-text"><i class="bi bi-geo-alt me-2"></i>
                                        {{ text.value }}
                                    </p>
                                {% endif %}
                            {% elif "شماره تماس اول دفتر فروش" in text.key %}
                                <p class="card-text"><i class="bi bi-telephone me-2"></i>
                                    {{ text.value }}
                                </p>
                            
                            {% elif "شماره تماس دوم دفتر فروش" in text.key %}
                                <p class="card-text"><i class="bi bi-telephone me-2"></i>
                                    {{ text.value }}
                                </p>
                            {% elif "شماره فکس دفتر فروش" in text.key %}
                                <p class="card-text"><i class="bi bi-newspaper me-2"></i>
                                    {{ text.value }}
                                </p>
                            {% elif "ایمیل دفتر فروش" in text.key %}
                                <p class="card-text"><i class="bi bi-envelope me-2"></i>
                                    {{ text.value }}
                                </p>
                            {% endif %}
                        {% endfor %}
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


{% comment %} بخش سوم برای فرم تماس با ما {% endcomment %}
<section>
    <div class="container my-4">
        <div class="row align-items-center">
            {% comment %} //TODO تنظیم استایل فرم تماس با ما، قرار دادن متن و تصویری در سمت راست فرم {% endcomment %}
            <div class="col-10 col-lg-12 offset-1 offset-lg-0">
                <h3 class="h4 fw-bold mb-3">
                    {% if lang == "fa" %} تماس با ما
                    {% elif lang == "ar" %} اتصل بنا
                    {% elif lang == "en" %} Contact Us
                    {% endif %}
                </h3>
                <p class="text-justified nm-text-color">
                    {% for text in contact_page_data %}
                        {% if "متن کنار" in text.key %}
                            {% if lang == text.language %}
                                {{ text.value }}
                            {% endif %}
                        {% else %}
                        {% endif %}
                    {% endfor %}
                </p>
            </div>
            <div class="col-10 col-lg-8 offset-1 offset-lg-2">
                <form action="" method="post">
                    {% csrf_token %}
                    
                    {% for item in form %}
                        <p>{{ item.label_tag }} {{ item }}</p>
                        <p></p>
                    {% endfor %}
                        
                    <div class="row text-center">
                        <div class="col">
                            <input class="btn btn-primary my-3" type="submit" value="ارسال پیام">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

{% endblock content %}

    