{% extends 'base.html' %}
{% load static i18n %}

{% block title %}
   {% if lang == "fa" %} صفحه اصلی {% elif lang == "en" %} Home page {% elif lang == "ar" %} الصفحة الرئيسية {% endif %}
{% endblock title %}
    
{% block content %}

{% comment %} this is the poster part {% endcomment %}
<section>
    <div class="container-fluid">
    <div class="row">
        <img src="{% static '/images/main_page_temp_header.png' %}" alt="تصویر هدر موقت" class="img-fluid h-100">
    </div>
</div>
</section>
{% comment %} this is introduction section {% endcomment %}
{#<section>#}
{#    <div class="container my-5">#}
{#        <div class="row align-items-center">#}
{#            <div class="d-none d-lg-flex col-lg-4 px-auto">#}
{#                <img src="{% static '/images/nm_se_dual_logo.png' %}" alt="لوگوی مشترک نوید موتور و سمنان انرژی" class="img-fluid">#}
{#            </div>#}
{#            <div class="col-lg-8">#}
{#                <h1 class="h4 fw-bold">شرکت صنایع نوید موتور</h1>#}
{#                <p class="mt-3 text-justified text-english fw-semibold nm-text-color" style="direction: ltr; ">#}
{#                {% for text in home_page_data %}#}
{#                    {% if "انگلیسی" in text.key %}#}
{#                        {{ text.value }}#}
{#                    {% else %}#}
{#                    {% endif %}#}
{#                {% endfor %}#}
{#                    #}
{#                </p>#}
{#                <p class="mt-3 text-justified nm-text-color lh-lg">#}
{#                    {% for text in home_page_data %}#}
{#                      {% if "فارسی" in text.key %}#}
{#                        {{ text.value|safe }}#}
{#                      {% else %}#}
{#                       {% endif %}#}
{#                     {% endfor %}</p>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
{#</section>#}


{% comment %} this is site cards section {% endcomment %}
<section>
    <div class="container my-5">
        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
            {% comment %} کارت راهکار ما {% endcomment %}
            <div class="col">
                <div class="card text-center card-hover bg-gray">
                    <a href="{% url 'solution_main' %}"><img src="{% static '/images/solution.png' %}" class="card-img-top m-auto mt-3" alt="تصویر کارت راهکار ما" style="width: 150px;"></a>
                    <div class="card-body">
                        <a href="{% url 'solution_main' %}"><h5 class="card-title card-title-text">{% if lang == "fa" %} راهکار ما {% elif lang == "en" %} Our solution {% elif lang == "ar" %} حلولنا {% endif %}</h5></a>
                        <p class="card-text card-body-text">{% if lang == "fa" %} انتخاب الکتروپمپ مناسب برای هر کاربرد {% elif lang == "en" %} Selecting the appropriate electric pump for each application {% elif lang == "ar" %} اختيار المضخة الكهربائية المناسبة لكل تطبيق {% endif %}</p>
                    </div>
                </div>
            </div>
            {% comment %} کارت محصولات {% endcomment %}
            <div class="col">
                <div class="card text-center card-hover bg-gray">
                    <a href="{% url 'products_usage_main' %}"><img src="{% static '/images/products.png' %}" class="card-img-top m-auto mt-3" alt="تصویر کارت محصولات" style="width: 150px;"></a>
                    <div class="card-body">
                        <a href="{% url 'products_usage_main' %}">
                            <h5 class="card-title card-title-text">
                            {% if lang == "fa" %} محصولات {% elif lang == "en" %} Products {% elif lang == "ar" %} المنتجات {% endif %}
                            </h5>
                        </a>
                        <p class="card-text card-body-text">{% if lang == "fa" %} دسته‌بندی الکتروپمپ‌ها با کاربرد و مدل {% elif lang == "en" %} Categorization of electric pumps by application and model {% elif lang == "ar" %} تصنيف المضخات الكهربائية حسب التطبيق والنموذج {% endif %}</p>
                    </div>
                </div>
            </div>
            {% comment %} کارت شبکه فروش نمایندگان {% endcomment %}
            <div class="col">
                <div class="card text-center card-hover bg-gray">
                    <a href="{% url 'sales_network' %}"><img src="{% static '/images/sales_network.png' %}" class="card-img-top m-auto mt-3" alt="تصویر کارت شبکه نمایندگان فروش" style="width: 150px;"></a>
                    <div class="card-body">
                        <a href="{% url 'sales_network' %}"><h5 class="card-title card-title-text">{% if lang == "fa" %} شبکه نمایندگان فروش {% elif lang == "en" %} Sale Agencies Network {% elif lang == "ar" %} شبكة ممثلي المبيعات {% endif %}</h5></a>
                        <p class="card-text card-body-text">{% if lang == "fa" %} لیست نمایندگان معتبر نوید موتور در سراسر ایران {% elif lang == "en" %} List of Valid Representatives of Navid Motor across Iran {% elif lang == "ar" %} قائمة الممثلين الصالحين لشركة نويد موتور في جميع أنحاء إيران {% endif %}</p>
                    </div>
                </div>
            </div>
            {% comment %} کارت خدمات پس از فروش {% endcomment %}
            <div class="col">
                <div class="card text-center card-hover bg-gray">
                    <a href="#"><img src="{% static '/images/after_sales_support.png' %}" class="card-img-top m-auto mt-3" alt="تصویر کارت خدمات پس از فروش" style="width: 150px;"></a>
                    <div class="card-body">
                        <a href="#"><h5 class="card-title card-title-text">{% if lang == "fa" %} خدمات پس از فروش {% elif lang == "en" %} After-sales services {% elif lang == "ar" %} خدمات ما بعد البيع {% endif %}</h5></a>
                        <p class="card-text card-body-text">{% if lang == "fa" %} گارانتی تعویض و خدمات پس از فروش، سریع و همه‌جا {% elif lang == "en" %} Replacement warranty and after-sales services, quick and everywhere. {% elif lang == "ar" %} ضمان الاستبدال وخدمات ما بعد البيع، سريعة وفي كل مكان. {% endif %}</p>
                    </div>
                </div>
            </div>
            {% comment %} کارت مرکز آموزش نوید موتور {% endcomment %}
            <div class="col">
                <div class="card text-center card-hover bg-gray">
                    <a href="#"><img src="{% static '/images/teaching_center.png' %}" class="card-img-top m-auto mt-3" alt="تصویر کارت مرکز آموزش نوید موتورصولات" style="width: 150px;"></a>
                    <div class="card-body">
                        <a href="#">
                            <h5 class="card-title card-title-text">
                                {% if lang == "fa" %} مرکز آموزش نوید موتور
                                {% elif lang == "en" %} Navid Motor Education Center
                                {% elif lang == "ar" %} مركز تعليم نويد موتور
                                {% endif %}
                            </h5>
                        </a>
                        <p class="card-text card-body-text">
                            {% if lang == "fa" %} مطالب آموزشی الکتروپمپ و دوره‌های تخصصی نوید موتور
                            {% elif lang == "en" %} Educational content on electric pumps and specialized courses at Navid Motor
                            {% elif lang == "ar" %}محتوى تعليمي حول المضخات الكهربائية والدورات المتخصصة في نويد موتور
                            {% endif %}
                        </p>
                    </div>
                </div>
            </div>
            {% comment %} کارت تور مجازی {% endcomment %}
            <div class="col">
                <div class="card text-center card-hover bg-gray">
                    <a href="#"><img src="{% static '/images/virtual-tour.png' %}" class="card-img-top m-auto mt-3" alt="تصویر کارت تور مجازی" style="width: 150px;"></a>
                    <div class="card-body">
                        <a href="#">
                            <h5 class="card-title card-title-text">
                                {% if lang == "fa" %}تور مجازی نوید موتور
                                {% elif lang == "en" %} Navid Motor virtual tour
                                {% elif lang == "ar" %} جولة افتراضية في نويد موتور
                                {% endif %}
                            </h5>
                        </a>
                        <p class="card-text card-body-text">
                            {% if lang == "fa" %} آشنایی با نوید موتور با تور مجازی شرکت صنایع نوید موتور
                            {% elif lang == "en" %} Get to know Navid Motor with Navid Motor Industries' virtual tour
                            {% elif lang == "ar" %} تعرف على نوید موتور من خلال جولة شركة صنایع نوید موتور الافتراضیة
                            {% endif %}
                        </p>
                    </div>
                </div>
            </div>
           
            
        </div>
    </div>
</section>
{% endblock content %}


    