{% extends 'base.html' %}
{% load static i18n %}

{% block title %}
   {% if lang == "fa" %} صفحه اصلی {% elif lang == "en" %} Home {% endif %}
{% endblock title %}
    
{% block content %}

{% comment %} this is the poster part {% endcomment %}
<section>
    <div class="container-fluid">
    <div class="row">
        <img src="{% static '/images/main_page_temp_header.png' %}" alt="تصویر هدر موقت" class="img-fluid h-100">
    </div>
</div>
</section>
{% comment %} this is introduction section {% endcomment %}
{#<section>#}
{#    <div class="container my-5">#}
{#        <div class="row align-items-center">#}
{#            <div class="d-none d-lg-flex col-lg-4 px-auto">#}
{#                <img src="{% static '/images/nm_se_dual_logo.png' %}" alt="لوگوی مشترک نوید موتور و سمنان انرژی" class="img-fluid">#}
{#            </div>#}
{#            <div class="col-lg-8">#}
{#                <h1 class="h4 fw-bold">شرکت صنایع نوید موتور</h1>#}
{#                <p class="mt-3 text-justified text-english fw-semibold nm-text-color" style="direction: ltr; ">#}
{#                {% for text in home_page_data %}#}
{#                    {% if "انگلیسی" in text.key %}#}
{#                        {{ text.value }}#}
{#                    {% else %}#}
{#                    {% endif %}#}
{#                {% endfor %}#}
{#                    #}
{#                </p>#}
{#                <p class="mt-3 text-justified nm-text-color lh-lg">#}
{#                    {% for text in home_page_data %}#}
{#                      {% if "فارسی" in text.key %}#}
{#                        {{ text.value|safe }}#}
{#                      {% else %}#}
{#                       {% endif %}#}
{#                     {% endfor %}</p>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
{#</section>#}


{% comment %} this is site cards section {% endcomment %}
<section>
    <div class="container my-5">
        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
            {% comment %} کارت راهکار ما {% endcomment %}
            <div class="col">
                <div class="card text-center card-hover bg-gray">
                    <a href="{% url 'solution_main' %}"><img src="{% static '/images/solution.png' %}" class="card-img-top m-auto mt-3" alt="تصویر کارت راهکار ما" style="width: 150px;"></a>
                    <div class="card-body">
                        <a href="{% url 'solution_main' %}"><h5 class="card-title card-title-text">{% translate "راهکار ما" %}</h5></a>
                        <p class="card-text card-body-text">{% translate "انتخاب الکتروپمپ مناسب برای هر کاربرد" %}</p>
                    </div>
                </div>
            </div>
            {% comment %} کارت محصولات {% endcomment %}
            <div class="col">
                <div class="card text-center card-hover bg-gray">
                    <a href="{% url 'products_usage_main' %}"><img src="{% static '/images/products.png' %}" class="card-img-top m-auto mt-3" alt="تصویر کارت محصولات" style="width: 150px;"></a>
                    <div class="card-body">
                        <a href="{% url 'products_usage_main' %}"><h5 class="card-title card-title-text">{% translate "محصولات" %}</h5></a>
                        <p class="card-text card-body-text">{% translate "دسته‌بندی الکتروپمپ‌ها با کاربرد و مدل" %}</p>
                    </div>
                </div>
            </div>
            {% comment %} کارت شبکه فروش نمایندگان {% endcomment %}
            <div class="col">
                <div class="card text-center card-hover bg-gray">
                    <a href="{% url 'sales_network' %}"><img src="{% static '/images/sales_network.png' %}" class="card-img-top m-auto mt-3" alt="تصویر کارت شبکه نمایندگان فروش" style="width: 150px;"></a>
                    <div class="card-body">
                        <a href="{% url 'sales_network' %}"><h5 class="card-title card-title-text">{% translate "شبکه نمایندگان فروش" %}</h5></a>
                        <p class="card-text card-body-text">{% translate "لیست نمایندگان معتبر نوید موتور در سراسر ایران" %}</p>
                    </div>
                </div>
            </div>
            {% comment %} کارت خدمات پس از فروش {% endcomment %}
            <div class="col">
                <div class="card text-center card-hover bg-gray">
                    <a href="#"><img src="{% static '/images/after_sales_support.png' %}" class="card-img-top m-auto mt-3" alt="تصویر کارت خدمات پس از فروش" style="width: 150px;"></a>
                    <div class="card-body">
                        <a href="#"><h5 class="card-title card-title-text">{% translate "خدمات پس از فروش" %}</h5></a>
                        <p class="card-text card-body-text">{% translate "گارانتی تعویض و خدمات پس از فروش، سریع و همه‌جا" %}</p>
                    </div>
                </div>
            </div>
            {% comment %} کارت مرکز آموزش نوید موتور {% endcomment %}
            <div class="col">
                <div class="card text-center card-hover bg-gray">
                    <a href="#"><img src="{% static '/images/teaching_center.png' %}" class="card-img-top m-auto mt-3" alt="تصویر کارت مرکز آموزش نوید موتورصولات" style="width: 150px;"></a>
                    <div class="card-body">
                        <a href="#"><h5 class="card-title card-title-text">{% translate "مرکز آموزش نوید موتور" %}</h5></a>
                        <p class="card-text card-body-text">{% translate "مطالب آموزشی الکتروپمپ و دوره‌های تخصصی نوید موتور" %}</p>
                    </div>
                </div>
            </div>
            {% comment %} کارت تور مجازی {% endcomment %}
            <div class="col">
                <div class="card text-center card-hover bg-gray">
                    <a href="#"><img src="{% static '/images/virtual-tour.png' %}" class="card-img-top m-auto mt-3" alt="تصویر کارت تور مجازی" style="width: 150px;"></a>
                    <div class="card-body">
                        <a href="#"><h5 class="card-title card-title-text">{% translate "تور مجازی" %}</h5></a>
                        <p class="card-text card-body-text">{% translate "آشنایی با نوید موتور با تور مجازی شرکت صنایع نوید موتور" %}</p>
                    </div>
                </div>
            </div>
           
            
        </div>
    </div>
</section>
{% endblock content %}


    