{% extends 'base.html' %}
{% load static %}

{% block title %}
    محصولات بر اساس کاربرد
{% endblock title %}

{% block content %}

    <section>
        <div class="container-fluid">
            <div class="row">
                <div class="col-6 col-lg-4 px-0">
                    {% include "products/products_sidebar.html" %}
                </div>
                <div class="col-6 col-lg-8 mt-5 pe-5">
                    <div class="page-title"><h1 class="h5 nm-text-color fw-bold d-none d-lg-block mb-lg-4">دسته‌بندی بر اساس کاربرد</h1></div>
                    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
                        {% comment %} بخش کارت‌های کاربرد {% endcomment %}
                        {% for usage_item in usage_queryset %}
                            <div class="col mb-5">
                                <div class="card text-center card-hover bg-gray">
                                    <a href="{% url 'products_single_usage_list' usage_item.id %}"><img src="{{ usage_item.usage_image.url }}" class="card-img-top m-auto mt-3" alt="تصویر کارت راهکار ما" style="width: 150px;"></a>
                                    <div class="card-body">
                                        <a href="{% url 'products_single_usage_list' usage_item.id %}"><h6 class="card-title card-title-text"> الکتروپمپ‌های {{ usage_item.usage_name_fa }}</h6></a>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}

                    </div>
                </div>
            </div>
        </div>
    </section>


{% endblock content %}
